<!DOCTYPE html>
<html>
<head>
  <title>Search Page</title>
</head>
<body>
  <form action="/search4">
    <input type="search" name="SAP_Material_Num" placeholder="SAP Number">
    <input type="search" name="ITEM_8DIGIT" placeholder="8 DIGIT">
    <input type="search" name="ITEM_11DIGIT" placeholder="11 DIGIT">
    
    <input type="search" name="Plant_Code" placeholder="Plant Code">
    
    <input type="submit" value="Search">
</form>

</body>
</html>
